{{- define "main" -}}
{{- $avatar :=  .Params.avatar -}}
<h1 class="title white author-title">{{ .Title }}</h1>
<div class="content author-content">
    <!-- avatar -->
    {{- partial "author/avatar-info" (dict "name" .Title "avatar" $avatar) -}}
    <!-- /avatar -->

    <!-- content -->
    {{- .Content -}}
    <!-- /content -->

    <!-- social -->
    {{- with .Params.social -}}
    {{- partial "author/social" . }}
    {{- end -}}
    <!-- /social -->

    <!-- posts -->
    <h2 class="white">My posts</h2>
    {{- partial "posts" . -}}
    <!-- /posts -->
</div>
{{- end -}}